.logoHolder {
    width : 6rem;
    height: 6rem;
    text-align: center;
    margin: 0 auto;
}

.logoHolder img {
    width: 100%;
    height: auto;
}

video { 
    position: fixed;
}

.userInStall{
    position: absolute;
    z-index: 1;
    top : 0;
    left : 0;
    width: 100%;
    text-align: center;
}

.userProfile{
    text-align: center;
    margin: 2rem 1rem;
    display: inline-block;
}

.userProfile p{
    color: white
}

.avatar { 
    width : 3rem;
    height: 3rem;
    border-radius: 200px;
    overflow: hidden;
    background-color : gray;
    display: inline-block
}

.avatar img{
    width : 100%
}

.stalls {
    background-color: transparent;
    width: 100vw;
    height: 100%;
    top : 10px;
    left : 0;
    position: fixed;
    z-index: 9;
    border-radius: 20px 20px 0rem 0rem;
    
}

.bodyWrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.modal-backdrop{
    display: none;
}

.modal-dialog{
    margin : 0;
}

#myModal .modal-content{
    width: 100%;
    height: 100vh;
    text-align: center;
}

#myModal .userInStall{
    top : 8rem;
}

#myModal .userInStall .userProfile p{
    color : orangered;
}

.carousel-indicators{
    bottom : -3rem;
}

.carousel-indicators li {
    background-color : black;
}

#stallCarousels{
    margin : 0 auto;
}

.profileCall .avatar{
    width : 8rem;
    height: 8rem;
}
.profileCall .userInStall{
    position: static;
    width: 70%;
    margin: 4rem auto 0 auto;
    right: 0;
}

.profileCall .userInStall .userProfile .mainName{
    color : black;
    font-size: 2rem
}

.profileCall .userInStall .userProfile .secMessage{
    color : rgba(0, 0, 0, 0.432);
}

.profileCall .userInStall .userProfile .stallStatus{
    color : rgba(106, 219, 0, 0.897);
}

#stallBtn {
    display: none;
}